<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    
    <!-- Load the latest version of TensorFlow.js -->
    <script src="https://unpkg.com/@tensorflow/tfjs"></script>
    <script src="https://unpkg.com/@tensorflow-models/mobilenet"></script>
  	<script src="https://unpkg.com/@tensorflow-models/knn-classifier"></script>

    <title>AI Demo</title>

    <div class="navbar">
    	<a href="/">Home</a>
		<div class="subnav">
			<button class="subnavbtn">AI Demos <i class="fa fa-caret-down"></i></button>
			<div class="subnav-content">
				<a href="imageclassification">Classify an image</a>
				<a href="videoclassification">Classify a live video</a>
				<a href="movementclassification">Classify video movements</a>
			</div>
		</div>
		<div class="subnav">
			<button class="subnavbtn">Follow me <i class="fa fa-caret-down"></i></button>
			<div class="subnav-content">
				<a class="facebook" href="https://www.facebook.com/janmarcel.kezmann"><i class="fa fa-facebook"></i></a>
				<a class="instagram" href="http://instagram.com/jan_kezmann"><i class="fa fa-instagram"></i></a>
				<a class="github" href="https://www.github.com/JanMarcelKezmann"><i class="fa fa-github"></i></a>
				<a class="linkedin" href="https://www.linkedin.com/in/jan-marcel-kezmann/"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
	  	<a href="contact">Contact</a> 
	  	<div class="subnav">
	    	<button class="subnavbtn">Github <i class="fa fa-caret-down"></i></button>
			<div class="subnav-content">
				<a href="https://github.com/JanMarcelKezmann/Flask-AI-WebApp">The Code</a>
				<a href="https://github.com/JanMarcelKezmann">My Profile</a>
			</div>
	  	</div> 
	</div>

</head>

<body>
	<h1>Contact</h1>

	<h3>Jan-Marcel Kezmann</h3>
	<h3>+49 1578/5873422</h3>
	<h3>jankezmann@t-online.de</h3>

	<script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>

</body>

</html>